.header {
  display: grid;
  border-bottom: 1px solid black;
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
}
.button {
  background-color: blue;
  color: #ffffff;
  margin: 5px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
.button:hover {
  background-color: red;
}
